framesis.webservice/SubScenarioDumpSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:complexType name="subScenarioDump">
      <xsd:sequence>
         <xsd:element name="config" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
         <xsd:element name="description" type="xsd:string" minOccurs="0"/>
         <xsd:element name="name" type="xsd:string" minOccurs="0"/>
         <xsd:element name="phase" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
